@model EDL4.Models.Pais

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pais</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

    </dl>
</div>
<h3>cambios</h3>
<table>
    @if (Model.cambios != null)
{
    foreach (var item in Model.cambios)
    {
        <tr>
          
                @Html.DisplayFor(modelItem => item) |@Html.ActionLink("Delete", "Deleteca", new { id = item })

                
          
        </tr>


    }

}
</table>
<h3>coleccionadas</h3>
<table>
    @if (Model.coleccionadas != null)
    {
        foreach (var item in Model.coleccionadas)
        {
            <tr>

                @Html.DisplayFor(modelItem => item)

            </tr>


        }

    }
</table>
<h3>faltantes</h3>
<table>
    @if (Model.faltantes != null)
    {
        foreach (var item in Model.faltantes)
        {
            <tr>

                @Html.DisplayFor(modelItem => item) |@Html.ActionLink("Delete", "Deletefa", new {id=item}) 

            </tr>


        }

    }
</table>

<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
